.container {
    width: 80%;
    margin: 30px auto;
    background-color: thistle;
    padding: 30px;
}

.container h2:first-child:hover {
    color: aquamarine;
    background-color: black;
    padding: 10px;
}

.container h2:last-child:hover {
    color: blueviolet;
    background-color: burlywood;
    padding: 10px;
}

.container h2:nth-child(3):hover {
    color: brown;
    background-color: yellowgreen;
    padding: 10px;
}